# .env
env

# c program
c/*
!c/*.c
!c/**/*.c
!c/**/*.h
!c/**/*.a
!c/**/Makefile

# Java
**/*.class

#ZZ: Scala
 scala/**/project
  scala/**/target

# Maven
maven/**/target

# nodejs
node/**/node_modules
node/**/package-lock.json

# python
python/**/.venv
pyhton/**/__pycache__/

